<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pet">
      <h2 data-cy="petDetailsHeading"><span jhiTranslate="jhpetclinicApp.pet.detail.title">Pet</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pet.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhpetclinicApp.pet.name">Name</span></dt>
        <dd>
          <span>{{ pet.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhpetclinicApp.pet.birthDate">Birth Date</span></dt>
        <dd>
          <span>{{ pet.birthDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhpetclinicApp.pet.type">Type</span></dt>
        <dd>
          <div *ngIf="pet.type">
            <a [routerLink]="['/pet-type', pet.type.id, 'view']">{{ pet.type.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhpetclinicApp.pet.owner">Owner</span></dt>
        <dd>
          <div *ngIf="pet.owner">
            <a [routerLink]="['/owner', pet.owner.id, 'view']">{{ pet.owner.lastName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pet', pet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
